<section id="accueil" class="accueil">
  <div class="container">
    <h1 class="title  is-1 has-text-danger">Le Surfcasting en Vendée</h1>
    <p class="subtitle is-2 has-text-danger">Bienvenus chers amis ce site est dispo pour poster vos photos, partager vos
      prises et laisser un petit post sur vos expèriences.</p>
      <p class="subtitle is-3 has-text-danger">Le site est ouvert à condition de s'inscrire, si vous n'êtes pas inscrits on vous attend.</p>
  </div>
  <br>
  <div class="container">
    <div class="columns">
      {{#if user}}
      {{#each posts}}
      <div class="column is-4">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="{{image}}" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <a href="/articles/{{_id}}">
                <h2>{{title}}</h2>
              </a>
              <p>{{stripTags content}}</p>
              <p>publié par {{author}}, le {{moment createDate format="DD / MM / YYYY"}}</p>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
      {{/if}}
    </div>
  </div>
</section>