<section class="section">
    <div class="container is-fullhd">
        <div class="content">
            <ol type="1">
                {{#each errors}}
                <li>{{this}}</li>
                {{/each}}

            </ol>
        </div>
        <form action="/user/register" method="POST" enctype="multipart/form-data">
            <div class="field">
                <label class="label">Nom</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Text input" name="name" value={{data.name}}>
                </div>
            </div>
            <div class="field">
                <label class="label">Prenom</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Text input" name="surname" value={{data.surname}}>
                </div>
            </div>

            <div class="field">
                <label class="label">Nom d'Usager</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-success" type="text" placeholder="Text input" name="userName" value={{data.userName}}>
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                    <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                </div>
                <p class="help is-success">ce nom n'est pas utiliser</p>
            </div>

            <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" type="email" placeholder="Email input" name="email" value={{data.email}}>
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <p class="control has-icons-left">
                    <input class="input" type="password" placeholder="Password" name="password" value={{data.password}}>
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox" name="terms" value={{data.terms}}>
                        I agree to the <a href="#">terms and conditions</a>
                    </label>
                </div>
            </div>


            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link">Enregistrer</button>
                </div>
                <div class="control">
                    <button class="button is-text">Annuler</button>
                </div>
            </div>
        </form>
    </div>
</section>